*{
  margin: 0;
  box-sizing: border-box;
  font-family:sans-serif;
  background-color: #e8f5fc;
  color:#699ab6;
  padding:0;
  justify-content: center;
  align-items: center;
}
h2{
  text-align: center;
  margin-top: 0px;
  padding: 10px;
  font-size: 30px;
  font-weight: 0.8;
  font-family: monospace;
  background-color:#31363F;
  color: #76ABAE;
}
.container{
  height:100em;
  display:flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  padding:15px;
  border-radius: 30px;
  display:grid;
  background-color:#e8f5fc;
  box-shadow: 6px 6px 10px rgba(164, 216, 243, 0.5),-6px -6px 10px rgba(255, 255, 255, 0.6);
  grid-template-columns: repeat(5,70px);
}
button{
  height: 40px;
  width: 40px;
  display:flex;
  padding: 2px;
  gap:3px;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 6px 6px 10px rgba(164, 216, 243, 0.5),-6px -6px 10px rgba(255, 255, 255, 0.6);
  background-color: #e8f5fc;
  border: none;
  color:#222831;
}
input{
  grid-column: span 5;
  height: 70px;
  width:20rem;
  background-color: #e8f5fc;
  border:none;
  border-radius: 30px;
  color:rgb(70,70,70);
  font-size: 20px;
  text-align: end;
  margin: auto;
  margin-top:15px;
  margin-bottom:15px;
  padding:10px;
  box-shadow: inset 6px 6px 10px rgba(164, 216, 243, 0.5),-6px -6px 10px rgba(255, 255, 255, 0.6);
}
button:hover{
  border: 2px solid black;
  transform: translateY(-3px);
  background-color:#46B7B9;
}
button:active:focus{
  translate: translateY(2px);
  box-shadow: inset 6px 6px 10px rgba(164, 216, 243, 0.5),-6px -6px 10px rgba(255, 255, 255, 0.6);
}
button:focus{
  box-shadow: inset 6px 6px 10px rgba(164, 216, 243, 0.5),-6px -6px 10px rgba(255, 255, 255, 0.6), inset 6px 6px 10px rgba(164, 216, 243, 0.5),-6px -6px 10px rgba(255, 255, 255, 0.6);
}
.calculate{
  background-color:#6b8afa;
  color:white;
  box-shadow: inset  6px 6px 10px rgba(164, 216, 243, 0.5),-6px -6px 10px rgba(255, 255, 255, 0.6),inset -3px -3px 14px rgba(255, 255, 255, 0.2),8px 8px 14px rgba(48, 92, 248, 0.5);
  border-radius: 50px;
}
.calculate:hover{
  background-color: #6b8afa;
}
.calculate:active:focus,
.calculate:focus{
  box-shadow: inset  3px 11px 25px rgba(8, 60, 247, 0.9),-6px -6px 10px rgba(255, 255, 255, 0.6),inset -3px -11px 15px rgba(8, 60, 247, 0.5),6px 6px 8px rgba(286, 216, 253, 0.5);
}
.ac_button{
  color:#eb4747;
  border-radius:30%;
}
.ac_button:hover{
  background-color: #393E46;
  box-shadow:none;
}
i:hover{
  color:#eb4747;
  background-color: #393E46;
}
#op:hover{
  background-color:#5FBDFF;
}
sup:hover{
  background-color:#46B7B9;
  color:#393E46;
}
footer{
  display:flex;
  border-bottom: 0px;
  justify-content: center;
  align-items:center;
  font-weight: 400;
}
@media(max-width:360px){
  h2{
    font-size: 20px;
  }
}
